*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    width: 100vw;
    background-color: rgb(20, 20, 20);
    color: white;
}
header {
    width: 100vw;
    height: 75px;
    background-color: rgb(10, 10, 10);
    display: flex;
    

}
#headerText{

    width: 100vw;
    height: 75px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#headerText a{
    
    color: white;
    text-decoration: none;
}
#headerText img{
    width: 90px;
}
nav {
    width: 100vw;
    height: 50px;
    background-color: rgb(15, 15, 15);
    line-height: 50px;
    display: flex;
    justify-content: center;
}
nav ul {
    width: 60vw;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 2.5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
}
.burger {
    display: none;
}

.burger span {
    display: none;
}

.burger span img {
    display: none;
}

button {
    cursor: pointer;
    display: none;
}

.sideNav {
    display: none;
}

.sideNav a {
    display: none;
}

.sideNav a:hover {
    color: white;
}

.sideNav .closebtn {
    display: none;
}
.sideNavFooter{
    display: none;
}
.sideNavFooterIcons{
    display: none;
}
.mainContainer{
    width: 100vw;
}
.previewContainer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
#scPreview{
    width: 80vw;
}
#scPreview iframe{
    width: 100%;
    height: 166px;
    border-radius: 7.5px;
}









::-webkit-scrollbar{
    display: none;
}

@media only screen and (max-width: 1139px){
    nav {
        display: none;
    }
    .sideNav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(15, 15, 15);
        overflow-x: hidden;
        padding-top: 10vh;
        transition: 0.5s;
    }
    
    .sideNav a {
        padding: 24px;
        text-decoration: none;
        font-size: 24px;
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    
    .sideNav .closebtn {
        display: block;
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 40px;
    }
    .sideNavFooter{
        width: 0vw;
        height: 0vh;
        z-index: 2;
        position: absolute;
        overflow-x: hidden;
        bottom: 0;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sideNavFooterIcons{
        position: absolute;
        width: 40vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .sideNavFooterIcons img{
        width: 24px;
        height: 24px;
    }
    #YVimg{
        width: 24px;
        height: 18px;
    }
    #SCimg{
        width: 30px;
        height: 30px;
    }
    .burger {
        position: absolute;
        display: flex;
        height: 75px;
        justify-content: center;
        align-items: center;
        margin-left: 2.5%;
    }
    
    .burger span {
        display: flex;
        width: 20%;
        height: 7.5vh;
        justify-content: center;
        align-items: center;
    }
    
    .burger span img {
        display: flex;
        width: 35px;
        height: 7.5vh;
    }
    
    button {
        display: flex;
        background: transparent;
        border: none;
        font-size: 0px;
    }
}
@media only screen and (max-width: 639px){
    .sideNavFooterIcons{
        width: 75vw;
    }
}