*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    width: 100vw;
    background-color: rgb(20, 20, 20);
    color: white;
}
header {
    width: 100vw;
    height: 5rem;
    background-color: rgb(10, 10, 10);
    display: flex;
}
#headerText{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#headerText a{
    color: white;
    text-decoration: none;
}
#headerText img{
    width: 100px;
}
nav {
    width: 100vw;
    height: 50px;
    background-color: rgb(15, 15, 15);
    line-height: 50px;
    display: flex;
    justify-content: center;
}
nav ul {
    width: 60vw;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 2.5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
}
.burger {
    display: none;
}

.burger span {
    display: none;
}

.burger span img {
    display: none;
}

.burger button {
    cursor: pointer;
    display: none;
}

.sideNav {
    display: none;
}

.sideNav a {
    display: none;
}

.sideNav a:hover {
    color: white;
}

.sideNav .closebtn {
    display: none;
}
.sideNavFooter{
    display: none;
}
.sideNavFooterIcons{
    display: none;
}
.footer{
    width: 100vw;
    height: 150px;
    bottom: 0;
    background-color: rgb(15, 15, 15);
}
.mainContainer{
    width: 100vw;
    height: 100%;
    position:relative;
    display: flex;
    justify-content: center;
}
.collection{
    height: 100%;
    width: 100vw;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.collection ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 2.5%;
    row-gap: 1rem;
}
#product a{
    text-decoration: none;
    color: white;

}
.productContent img{
    width: 100%;
}

.collection h3{
    font-size: 14px;
}
.collection h4{
    font-size: 12px;
}
#productInfo :hover{
    text-decoration:underline;
    text-underline-offset: 3px;
}
#products{
    list-style: none;
}

#productInfo{
    padding-top: 4px;
    padding-bottom: 2px;
}
#productPrice{
    font-size: 14px;
}
.productPageContainer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#productContainer{
    width: 70vw;
    margin-top: 5%;
    display: flex;
}
#productPageImage{

}
#productPageImage img{

}
#productPageInfo{
    margin-left: 5%;
}
#productPageInfoFooter{
    padding-top: 2.5%;
}










::-webkit-scrollbar{
    display: none;
}
@media only screen and (max-width: 1139px){
    nav {
        display: none;
    }
    .sideNav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(15, 15, 15);
        overflow-x: hidden;
        padding-top: 10vh;
        transition: 0.5s;
    }
    
    .sideNav a {
        padding: 24px;
        text-decoration: none;
        font-size: 24px;
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    
    .sideNav .closebtn {
        display: block;
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 40px;
    }
    .sideNavFooter{
        width: 0vw;
        height: 0vh;
        z-index: 2;
        position: absolute;
        overflow-x: hidden;
        bottom: 0;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sideNavFooterIcons{
        position: absolute;
        width: 40vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .sideNavFooterIcons img{
        width: 24px;
        height: 24px;
    }
    .sideNavFooterIcons #YVimg{
        width: 24px;
        height: 18px;
    }
    .sideNavFooterIcons #SCimg{
        width: 30px;
        height: 30px;
    }
    .burger {
        position: absolute;
        display: flex;
        height: 5rem;
        justify-content: center;
        align-items: center;
        margin-left: 2.5%;
        z-index: 1;
    }
    
    .burger span {
        display: flex;
        width: 20%;
        height: 7.5vh;
        justify-content: center;
        align-items: center;
    }
    
    .burger span img {
        display: flex;
        width: 35px;
        height: 7.5vh;
    }
    
    .burger button {
        display: flex;
        background: transparent;
        border: none;
        font-size: 0px;
    }
}
@media only screen and (max-width: 639px){
    .sideNavFooterIcons{
        width: 75vw;
    }
}
